body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight:900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight:900;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight:900;
    margin: 0;
}

p {
    font-size: 18px;
}

.header {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
    gap:25px;
}

.header > div {
    width:70%;
}

.header-logo {
    color: #F9FAF8;
    margin:0 auto 0 0;
}

.header-secondary {
    color: #e5e7eb;
}

.nav-bar {
    display:flex;
    align-items: center;
    gap:15px;
}

.main-message {
    margin: 25px 0;
    display: flex;
    gap:20px;
}

.img-placeholder {
    background-color: #77787a;
    padding:12px;
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.greeting-message {
    flex-shrink: 1;
}

.greeting-message > h1 {
    color:#F9FAF8;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding:10px 25px;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
}

.info-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.info-section > h2 {
    margin-bottom: 50px;
}
.cards-container {
    display:flex;
    max-width: 50%;
    gap:50px;
}

.cards-container > div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width:100%;
    padding-top: 100%;
    border:4px solid #3882f6;
    border-radius: 10px;
}

.card-caption {
    color:#77787a;
    font-size: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 75px 0;
}

.quote-container {
    width:800px; 
    margin: 0 auto;
}

.quote {
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-section {
    padding:75px 0;
}

.call-to-action-container {
    background-color: #3882f6;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    display:flex;
    padding: 50px 25px 50px 75px;
}

.call-to-action-header {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

.call-to-action-caption {
    margin: 0;
    font-size: 16px;
    color: #e5e7eb;
}
.call-to-action-btn {
    border: #F9FAF8 2px solid;
}

.call-to-action-btn-container {
    margin: 0 auto;
}